:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--game-wrapper-div-height: 90vh;
	--stats-div-height: 0px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#game-wrapper-div {
	display: flex;
	flex-direction: column;
	position: relative;
	height: var(--game-wrapper-div-height);
	/* max-height: var(--game-wrapper-div-height); */
	min-width: 400px;
	width: 50vw;
}

#canvas-wrapper-div {
	display: flex;
	max-height: calc(var(--game-wrapper-div-height) - var(--stats-div-height));
	flex-grow: 1;
	flex-shrink: 1;
}

#tetris-canvas {
	margin: 0 auto;
	max-height: 100%;
	/* height: 960px; */
	outline: 2px solid teal;
}

#stats-div {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2ch;
}

#game-over-div {
	font: 48px "monospace";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	align-items: center;
	gap: 1ch;
	background-color: rgba(255, 255, 255, 0.125);
	padding: 2ch;
	border-radius: 10%;
}

#game-over-span {
	text-align: center;
	font-weight: 600;
	text-shadow: 0px 0px 0.3ch rgba(0, 0, 0, 1);
}

#game-over-span:hover {
	filter: drop-shadow(0 0 0.5ch rgb(62, 114, 117));
	text-shadow: 0px 0px 10px rgb(62, 114, 117);
}

#restart-button {
	font-size: 36px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
